/* ================================================ */
/* ==              @layer engine                 == */
/* ================================================ */
@layer engine {
 :root {
    /* Lightness delta percentages */
    --l-delta-0: 0%; --l-delta-1: 2%; --l-delta-2: 4%; --l-delta-3: 7%;
    --l-delta-4: 10%; --l-delta-5: 14%; --l-delta-6: 19%; --l-delta-7: 25%;
    --l-delta-8: 32%; --l-delta-9: 40%; --l-delta-10: 50%; --l-delta-11: 60%;
    --l-delta-12: 70%; --l-delta-13: 80%; --l-delta-14: 90%;
    --l-delta-0-down: calc(-1 * var(--l-delta-0)); --l-delta-1-down: calc(-1 * var(--l-delta-1));
    --l-delta-2-down: calc(-1 * var(--l-delta-2)); --l-delta-3-down: calc(-1 * var(--l-delta-3));
    --l-delta-4-down: calc(-1 * var(--l-delta-4)); --l-delta-5-down: calc(-1 * var(--l-delta-5));
    --l-delta-6-down: calc(-1 * var(--l-delta-6)); --l-delta-7-down: calc(-1 * var(--l-delta-7));
    --l-delta-8-down: calc(-1 * var(--l-delta-8)); --l-delta-9-down: calc(-1 * var(--l-delta-9));
    --l-delta-10-down: calc(-1 * var(--l-delta-10)); --l-delta-11-down: calc(-1 * var(--l-delta-11));
    --l-delta-12-down: calc(-1 * var(--l-delta-12)); --l-delta-13-down: calc(-1 * var(--l-delta-13));
    --l-delta-14-down: calc(-1 * var(--l-delta-14));

    /* Chroma delta percentages */
    --c-delta-0: 0%; --c-delta-1: 10%; --c-delta-2: 20%; --c-delta-3: 30%;
    --c-delta-4: 40%; --c-delta-5: 50%; --c-delta-6: 60%; --c-delta-7: 70%;
    --c-delta-8: 80%; --c-delta-9: 90%; --c-delta-10: 100%;
    --c-delta-0-down: calc(-1 * var(--c-delta-0)); --c-delta-1-down: calc(-1 * var(--c-delta-1));
    --c-delta-2-down: calc(-1 * var(--c-delta-2)); --c-delta-3-down: calc(-1 * var(--c-delta-3));
    --c-delta-4-down: calc(-1 * var(--c-delta-4)); --c-delta-5-down: calc(-1 * var(--c-delta-5));
    --c-delta-6-down: calc(-1 * var(--c-delta-6)); --c-delta-7-down: calc(-1 * var(--c-delta-7));
    --c-delta-8-down: calc(-1 * var(--c-delta-8)); --c-delta-9-down: calc(-1 * var(--c-delta-9));
    --c-delta-10-down: calc(-1 * var(--c-delta-10));

    /* Auto Contrast Calculation */
    --auto-contrast-text: oklch(
      from var(--bg, var(--base))
      clamp(0.1, (var(--l-threshold, 0.65) / l - 1) * 999, 0.98)
      min(c, var(--c-threshold, 0.08))
      h
    );
  }
}